<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="workout-edit.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<header th:insert="~{Generic/header :: ~{header}}"></header>
	</div>

	<!--here user will add values to EDIT workout-->
	<div class="container mt-2">
		<h1>Editing workout: </h1>
		<title th:text="${title}"></title>
		<form th:action="@{/workouts/{id}/edit(id=${id})}" method="post">
			<input type="text" name="title" placeholder="Workout Title" class="form-control">
			<input type="text" name="workout_description" placeholder="Short Description" class="form-control">

			<button type="submit" class="btn btn-success">Accept Changes</button>
		</form>

	</div>
</body>

</html>