<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<script>
	setTimeout(function () {
		window.location.href = 'http://localhost:8080/workouts';
	}, 3000); // waiting for 3 seconds and then redirecting
</script>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<header th:insert="~{Generic/header :: ~{header}}"></header>
	<header th:insert="~{Generic/dark-theme :: ~{dark-theme}}"></header>
	</div>

	<!--here user will add values to EDIT workout-->
	<div class="container mt-2">

		<h1>Workout has been deleted!</h1>
		<h3>You will be redirected back soon, please wait.</h3>
	</div>
</body>

</html>