<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="${title}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="dropdownButton.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<header th:insert="~{Generic/header :: ~{header}}"></header>
	<header th:insert="~{Generic/dark-theme :: ~{dark-theme}}"></header>
	</div>

	<!--here user will add values to create workout-->
	<div class="container mt-2">
		<h1>Adding workout</h1>
		<form method="post">
			<input type="text" name="title" placeholder="Workout Title" class="form-control">
			<input type="text" name="workout_description" placeholder="Short Description" class="form-control">

			<button type="submit" class="btn btn-success">Push</button>
		</form>

	</div>
</body>

</html>