<!DOCTYPE HTML>
<link rel="stylesheet" href="resources/static/header.css">
<div th:fragment="header">
	<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
		<title>WorkoutLogger</title>
		<span class="fs-4">WorkoutLogger</span>
		<nav class="d-inline-flex mt-1 mt-md-2 ms-md-auto">
			<a class="me-3 py-2 link-body-emphasis text-decoration-none" th:href="@{/workouts}">List All Workouts</a>
			<a class="py-2 link-body-emphasis text-decoration-none" th:href="@{/workouts/add}">Add Workout</a>
			<a class="me-3 py-2 link-body-emphasis text-decoration-none" th:href="@{/login}">Login</a>
		</nav>
	</div>